body{
font-family: 'Helvetica';
}

@font-face {
  font-family:"Simplifica";
  src: url("./Simplifica.ttf") format("truetype");
}

a, a:hover{
  text-decoration:none;
  color:black;
}

h1{
  margin-top:-10vw;
  font-size: 5vw;
  letter-spacing: 2px;
  font-family: 'Simplifica';
  text-align:center;
  text-decoration:underline;
}

h2{
  margin-top:-.45vw;
  font-size: 3vw;
  letter-spacing: 1px;
  font-family: 'Simplifica';
}

h3{
  font-size: 2vw;
  letter-spacing: 1px;
  font-family: "Simplifica";
}

p{
  font-size:20px;
  letter-spacing: 1px;
  font-family: 'Simplifica';
}

#splash-page, #skills-page{
  background-image:url('./images/background.png');
  width:100vw; 
  height:30vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#project-page, #final-page{
  background-image:url('./images/background2.png');
  width:100vw; 
  height:30vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#span-splash-page a, a:hover{
  padding: 0 1vw;
  border-right: 2px solid black;
}

#email a{
  text-decoration: none;
  color:black;
  padding: 0 1vw;
  border-right: none !important;
}

.projectImages a{
  padding: 0 1vw;
  font-size:3vw; font-size: 3vw;
  letter-spacing: 1px;
  font-family: 'Simplifica';
}

.projectImages{
  display:flex;
  justify-content:space-around;
  align-items:flex-start;
}

.projectImages img{
  width: 25vw;
}

#project-page img:hover{
  transition: all 1s ease-in-out;
  transform: scale(1.2);
}

.skills, .devicon{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  font-size:3vw;
  min-width: 20px;
}
.devicon1{
  width:5vw;
}

.devicon2{
  width:3.5vw;
}

.skills i{
  margin:1vw;
}

.projectPage {
  margin-bottom: 2vw;
  text-align: center;
  font-family: 'Fascinate Inline', cursive;
}

#final-page a, a:hover{
  padding: 0 1vw;
  border-right: 2px solid black;
}

.aboutMe{
  display: flex;
  flex-direction: row;
  align-items: space-around;
  justify-content: center;
  font-size:3vw;
  min-width: 3vw;
  padding-left: 5vw;
  padding-right:5vw;
}

.aboutMe p{
  margin-right:7vw;
}

.text-center{
  text-align:center;
}