body{
font-family: 'Helvetica';
}

@font-face {
    font-family:"Simplifica";
    src: url("./Simplifica.ttf") format("truetype");
  }

#splash-page{
background-image:url('./images/background.png');
  /* Full width */
  width:100vw; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* margin-left:-15px; */
}

h1{
    font-size: 5vw;
    letter-spacing: 2px;
    font-family: 'Simplifica';
}

h2{
    font-size: 3vw;
    letter-spacing: 1px;
    font-family: 'Simplifica';
}

h3{
    font-size: 2vw;
    letter-spacing: 1px;
    font-family: "Simplifica";
}

a, a:hover{
    text-decoration: none;
    color:black;
    padding: 0 1vw;
    border-right: 2px solid black;
}

a #email{
    text-decoration: none;
    color:black;
    padding: 0 1vw;
    border-right: none !important;
}


#main-page{
background-image:url('./images/background2.png');
  /* Full width */
  width:100vw; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* margin-left:-15px;  */
}

#project-page{
background-image:url('./images/background.png');
  /* Full width */
  width:100vw; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* margin-left:-15px;  */
}

#comment-page{
background-image:url('./images/background2.png');
  /* Full width */
  width:100vw; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* margin-left:-15px; */
}

#resume-page{
background-image:url('./images/background.png');
  /* Full width */
  width:100vw; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* margin-left:-15px; */
}

#final-page{
background-image:url('./images/background2.png');    
  /* Full width */
  width:100vw; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* margin-left:-15px; */
}

.projectPage {
  margin-bottom: 2vw;
  text-align: center;
  font-family: 'Fascinate Inline', cursive;
}